<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container-flud">
                    <div class="row mt-5 justify-content-center">
                        <h2 class="heading">Új könyv létrehozása</h2>
                    </div>
                  </div>

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-11">
                  <form [formGroup]="bookNewSignupForm" (ngSubmit)="openAffirmModal('affirmModalComponent')">
                    
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-11">&nbsp;</div>
                        <div class="col-1">
                          <button type="submit" class="float-right btn btn-outline-dark btn-block btn-lg">
                            <i class="fa fa-bolt"></i>
                        </button>
                        </div>
                      </div>
                    </div>
                    <br> 
                      <div class="form-group">
                          <label for="book_description"></label>
                          <p>&nbsp;&nbsp;Író</p>
                          <input
                          type="text" 
                          id="book_description"
                          formControlName="book_description" 
                          class="form-control">
                        <span *ngIf="!bookNewSignupForm.get('book_description').valid 
                        && bookNewSignupForm.get('book_description').touched"
                        class="help-block">
                        <span *ngIf="bookNewSignupForm.get('book_description').errors['required']">Ez a mező nem lehet üres.</span>
          
                        </span>
                      </div>
                      <div class="form-group">
                          <label for="book_title"> </label>
                            <p>&nbsp;&nbsp;Cím</p>
                              <input 
                              type="text"
                              id="book_title"
                              formControlName="book_title"
                              class="form-control">
                              <span *ngIf="!bookNewSignupForm.get('book_title').valid 
                        && bookNewSignupForm.get('bo_title').touched"
                        class="help-block">
                        <span *ngIf="bookNewSignupForm.get('book_title').errors['required']">Ez a mező nem lehet üres.</span>
          
                        </span>
                         
                      </div>
                      <div class="form-group">
                          <label for="book_image"></label>
                          <p>&nbsp;&nbsp;Borító</p>
                          <input 
                          type="text"
                          id="book_image"
                          formControlName="bo_image"
                          class="form-control">
                          <span *ngIf="!bookNewSignupForm.get('book_image').valid 
                        && bookNewSignupForm.get('book_image').touched"
                        class="help-block">
                        <span *ngIf="bookNewSignupForm.get('book_image').errors['required']">Ez a mező nem lehet üres.</span>
          
                        </span>
                      </div>
                      <!--
                      <div class="form-group">
                          <label for="book_available"> </label>
                            <p>&nbsp;&nbsp;Készlet</p>
                              <input 
                              type="text"
                              id="book_available"
                              formControlName="book_available"
                              class="form-control">
                              <span *ngIf="!bookNewSignupForm.get('book_available').valid 
                        && bookNewSignupForm.get('book_available').touched"
                        class="help-block">
                        <span *ngIf="bookNewSignupForm.get('book_available').errors['required']">Ez a mező nem lehet üres.</span>
          
                        </span>
                      </div>
                      
                      <div class="form-group">
                          <label for="book_id"> </label>
                            <p>&nbsp;&nbsp;ID</p>
                              <input 
                              type="text"
                              id="book_id"
                              formControlName="id"
                              class="form-control"
                              >
                              <span *ngIf="!bookNewSignupForm.get('book_id').valid 
                        && bookNewSignupForm.get('book_id').touched"
                        class="help-block">
                        <span *ngIf="bookNewSignupForm.get('book_id').errors['required']">Ez a mező nem lehet üres.</span>
          
                        </span>
                      </div> -->
                      
                  </form>
                </div>
            </div>
            </div>
              </div>
        </div>
    </div>
</div>
