<div class="d-flex align-items-center h-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <mat-card>
          <h3 class="text-center">Regisztráció</h3>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="w-100">
              <input type="text" matInput placeholder="Vezetéknév" formControlName="userLastName">
              <mat-error *ngIf="data.userLastName.errors?.required">Vezetéknév megadása kötelező.</mat-error>
            </mat-form-field>

            <mat-form-field class="w-100">
              <input type="text" matInput placeholder="Keresztnév" formControlName="userFirstName">
              <mat-error *ngIf="data.userFirstName.errors?.required">Keresztnév megadása kötelező.</mat-error>
            </mat-form-field>

            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Megye</mat-label>
              <mat-select formControlName="userRegion"  [(value)]="selectedRegion">
                <mat-option></mat-option>
                <mat-option [value]="region" *ngFor="let region of userRegions">{{ region }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="w-100">
              <input type="text" matInput placeholder="Város" formControlName="userCity">
              <mat-error *ngIf="data.userCity.errors?.required">Város megadása kötelező.</mat-error>    
            </mat-form-field>

            <mat-form-field class="w-100">
              <input type="text" matInput placeholder="Irányítószám" formControlName="userPostcode">
              <mat-error *ngIf="data.userPostcode.errors?.required">Irányítószám megadása kötelező.</mat-error>
              <mat-error *ngIf="data.userPostcode.errors?.maxlength">Maximum négy karakter hosszú lehet az irányítószám.</mat-error>       
            </mat-form-field>

            <mat-form-field class="w-100">
              <input type="text" matInput placeholder="Felhasználónév" formControlName="userName">
              <mat-error *ngIf="data.userName.errors?.required">Felhasználónév megadása kötelező.</mat-error>     
            </mat-form-field>

            <mat-form-field class="w-100">
              <input type="email" matInput placeholder="E-mail cím" formControlName="userEmail">
              <mat-error *ngIf="data.userEmail.errors?.required">E-mail cím megadása kötelező.</mat-error>
              <mat-error *ngIf="data.userEmail.errors?.email">Nem megfelelő az e-mail formátuma.</mat-error>  
              <mat-error *ngIf="data.userEmail.errors?.emailAlreadyInUse">Már regisztrált ezzel az e-mail címmel egy felhasználó hozzánk.</mat-error>      
            </mat-form-field>

            <mat-form-field class="w-100">
              <input matInput [type]="hide ? 'password' : 'text'" matInput placeholder="Jelszó" formControlName="userPassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button> 
              <mat-error *ngIf="data.userPassword.errors?.required">Jelszó megadása kötelező</mat-error>
              <mat-error *ngIf="data.userPassword.errors?.minlength">Legalább hat karakter hosszú legyena a jelszó.</mat-error>
              <mat-error *ngIf="data.userPassword.errors?.pattern">A jelszónak számot, kis- és nagybetűt kell tartalmaznia.</mat-error>                 
            </mat-form-field>

            <mat-form-field class="w-100">
              <input matInput [type]="hideConfirm ? 'password' : 'text'" matInput placeholder="Jelszó megismétlése" formControlName="userConfirmPassword">
                <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                  <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button> 
              <mat-error *ngIf="data.userConfirmPassword.errors?.required">Jelszó megadása kötelező</mat-error>
              <mat-error *ngIf="data.userConfirmPassword.errors?.minlength">Legalább hat karakter hosszú legyena a jelszó.</mat-error>
              <mat-error *ngIf="data.userConfirmPassword.errors?.pattern">A jelszónak számot, kis- és nagybetűt kell tartalmaznia.</mat-error>              
              <mat-error *ngIf="data.userConfirmPassword.errors?.mustMatch">A két jelszónak egyezni kell.</mat-error> 
            </mat-form-field>
           
            <p><mat-checkbox formControlName="userAcceptTerms">Elfogadom az adatkezelési tájékoztatót.</mat-checkbox></p>
            <mat-error *ngIf="data.userAcceptTerms.errors?.requiredTrue">A regisztrációhoz szükséges az adatkezelési tájékoztatnó elfogadása.</mat-error>     
            
            <div class="mt-4">
              <button mat-raised-button color="primary">Regisztrálok</button>
              <a [routerLink]="['/']" class="ml-2" mat-button color="primary">Mégse</a>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>