<app-admin-header></app-admin-header>
<app-admin-navigation></app-admin-navigation>
<div class="container">
  <div class="row mt-5 justify-content-center">
      <h2 class="heading">Könyvlista</h2>
  </div>
  
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-11">&nbsp;</div>
    <div class="col-1">
      <div class="form-group">
        <label for="search-text">Search Text</label>
        <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
          [(ngModel)]="searchText" placeholder="Enter text to search" 
          autofocus>
      </div>
    </div>
   
    <div class="col-1">
  <button class="btn btn-outline-dark btn-lg btn-block" routerLink='/admin/books/new'>
    <i class="fa fa-bolt"></i>
  </button>
</div>
</div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
 
<br>
<table class="table table-striped">
  
  <tbody>
    <tr *ngFor="let book of books">
        <td>{{book.bo_image}}</td>
        <td>{{book.id}}</td>
        <td>{{book.bo_author}}</td>
        <td>{{book.bo_title}}</td>
        <td>{{book.bo_available}}</td>
        <td><button class="btn btn-light" type="button" [routerLink]="[book.id]">
<i class="fa fa-eye"></i>
        </button></td>
       
        <!-- <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="dateOfBirth">Date of birth</label>
                <div class="input-group">
                  <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
          </div>
        </ng-template> -->
        <td><button class="btn btn-danger"
          (click)="onDelete(book)">
            <i class="fa fa-skull"></i>
        </button></td>
    </tr>
  </tbody>
</table>
<br>

</div>
</div>
</div>
