<div class="d-flex align-items-center h-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <mat-card>
          <h3 class="text-center">Regisztráció</h3>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="w-100">
              <input type="text" matInput placeholder="Vezetéknév" formControlName="user_lastName">
              <mat-error *ngIf="data.user_lastName.errors?.required">Vezetéknév megadása kötelező.</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input type="text" matInput placeholder="Keresztnév" formControlName="user_firstName">
              <mat-error *ngIf="data.user_firstName.errors?.required">Keresztnév megadása kötelező.</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input type="text" matInput placeholder="Megye" formControlName="user_region">
              <mat-error *ngIf="data.user_region.errors?.required">Megye megadása kötelező.</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input type="text" matInput placeholder="Város" formControlName="user_city">
              <mat-error *ngIf="data.user_city.errors?.required">Város megadása kötelező.</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input type="text" matInput placeholder="Irányítószám" formControlName="user_postcode">
              <mat-error *ngIf="data.user_postcode.errors?.required">Irányítószám megadása kötelező.</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input type="text" matInput placeholder="Felhasználónév" formControlName="user_userName">
              <mat-error *ngIf="data.user_userName.errors?.required">Felhasználónév megadása kötelező.</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input type="email" matInput placeholder="E-mail cím" formControlName="user_email">
              <mat-error *ngIf="data.user_email.errors?.required">E-mail cím megadása kötelező.</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input type="password" matInput placeholder="Jelszó" formControlName="user_password">
              <mat-error *ngIf="data.user_password.errors?.required">Jelszó megadása kötelező</mat-error>
            </mat-form-field>
            <div class="mt-4">
              <button mat-raised-button color="primary">Regisztrálok</button>
              <a [routerLink]="['/login']" class="ml-2" mat-button color="primary">Mégse</a>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>